.Container{
  padding: 0 276px;
  box-sizing: border-box;

  @media screen and (max-width: 1700px){
    padding: 0 150px;
  }

  @media screen and (max-width: 1500px){
    padding: 0 130px;
  }

  @media screen and (max-width: 1411px){
    padding: 0 100px;
  }

  @media screen and (max-width: 1350px){
    padding: 0 46px;
  }
}