.List {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  list-style: none;

  .ListItem {

    display: flex;
    align-items: center;



    font-weight: bold;
    font-size: 16px;
    color: white;

    &:before {
      display: inline-block;
      content: '';

      width: 19px;
      height: 8px;
      background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
      border-radius: 8px;

      margin-right: 26px;
    }
  }
}